*~
*.orig
*.pyc
*.pyo
*.rej
.installed.cfg
__minitage__*
.DS_Store
.hg
dist
._*
.svn
mynk.cfg
mynk.old
stnk.cfg
layout*.xml

uistate*
*hrox
hiero*
MTTF*
folders.nk
recent_files
FileChooser_Favorites.pref
ScriptEditorHistory.xml
mynk/icons/tab_stats.dat
tab_stats.dat
preferences11.3.nk
